<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro de clientes</title>
</head>

<body>
        <div class="box">
            <form action="JavaScript: cadastrar()">
                <fieldset>
                    <legend><strong>Fórmulario de Clientes</strong></legend>
                    <div class="inputBox">
                        <input type="text" autocomplete="off" name="cpf" id=cpf class="inputUser" required>
                        <label for="cpf" class="labelAnimado">CPF</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" autocomplete="off"  name="nome" id="nome" class="inputUser" required>
                        <label for="nome" class="labelAnimado">Nome </label>
                    </div>
                    <br><br>
                    <label for="dtNasc"><strong> Data de nascimento:</strong></label>
                    <input type="date" name="dtNasc" id="dtNasc" max="2020-01-01" required>
                    <br><br>
                    <div>
                        <p>Sexo:</p>
                        <input type="radio" name="sexo" id="masculino" value="Masculino" class="inputUser" required>
                        <label for="masculino" class="labelSexo">Masculino</label>
                        <br>
                        <input type="radio" name="sexo" id="feminino" value="Feminino" class="inputUser" required>
                        <label for="feminino" class="labelSexo">Feminino</label>
                        <br><br>
                    </div>
                    <div class="inputBox">
                        <input type="text" autocomplete="off"  name="email" id="email" class="inputUser" required>
                        <label for="email" class="labelAnimado">Email</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" autocomplete="off"  name="profissao" id="profissao" class="inputUser" required>
                        <label for="profissao" class="labelAnimado">Profissão</label>
                    </div>
                    <br><br>
                    <div><button type="submit" id="submit">Enviar</button></div>
                </fieldset>
            </form>
        </div>
        <div class="boxBotoes">
            <button onclick="editar()" id="botaoEditar">Editar</button><br>
            <button onclick="deletar()" id="botaoDeletar">Deletar</button><br>
        </div>

        <div class="boxFiltro">
            <input type="text" id="filtroCpf">
            <label for="filtroCpf" id="labelFiltro">Filtrar por cpf:</label>
            <button onclick="buscar()" id="botaoBuscar">Buscar</button>           
        </div>
        <div id="clientes cadastrados" class="boxTable">
            <table id="tabela">
                <tr id="cabecalho">
                    <td>Nome</td>
                    <td>CPF</td>
                    <td>Data Nasc</td>
                    <td>Sexo</td>
                    <td>Email</td>
                    <td>Profissão</td>
                </tr>
            </table>
        </div>
   


    <script src="../model/cliente.model.js"></script>
    <script src="../infra/infra.js"></script>
    <script src="../controllers/utils/optionsFetch.js"></script>
    <script src="../controllers/utils/limparCampos.js"></script>
    <script src="../controllers/utils/retornarCliente.js"></script>
    <script src="../controllers/utils/formatartabela.js"></script>
    <script src="../controllers/popularCampos.js"></script>
    <script src="../controllers/windowload.js"></script>
    <script src="../controllers/buscarCliente.js"></script>
    <script src="../controllers/cadastrarCliente.js"></script>
    <script src="../controllers/editarCliente.js"></script>
    <script src="../controllers/deletarCliente.js"></script>
</body>

</html>